ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.agilesc-gradient-grey1 {

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ffffff', GradientType = 0); /* IE6-9 */

}

.agilesc-gradient-grey2 {

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ededed', GradientType = 0); /* IE6-9 */

}

.agilesc-gradient-blue1 {
    background: #c3d9ff; /* Old browsers */
    background: -moz-linear-gradient(top, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3d9ff), color-stop(41%, #b1c8ef), color-stop(100%, #98b0d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#c3d9ff', endColorstr = '#98b0d9', GradientType = 0); /* IE6-9 */

}

.agilesc-outshadow-1 {
    -moz-box-shadow: 0.2em 0.2em 6px #999;
    box-shadow: 0.2em 0.2em 6px #999;
}

.agilesc-node-corner {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
}

.agilesc-nodes {
    width: 132px;
    height: 64px;
    /* line-height: 64px;*/
    text-align: center;
}

/*dt-table*/
.dt-section {
    width: 618px;
    min-height: 288px;
    font-size: 14px;
}

.dt-section thead {
    background: #cccccc;
    height: 48px;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;

    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%, #eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#eeeeee', GradientType = 0); /* IE6-9 */

}

.section-pageination {
    margin-top: 1em;
}

.section-pageination ul li {
    display: inline-block;
    padding: 5px 9px;
    text-align: center;
    cursor: pointer;
    background: #cccccc;
    margin: 0 1px;
    font-size: 14px;
    border: 1px solid #ccc;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.32em;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ededed', GradientType = 0); /* IE6-9 */

}

.dt-section .section-bar {
    height: 38px;
    padding-top: 12px;
}

#frmProductss {
    float: left;

}

#frmProductss .dt-frmSelect {
    float: left;
    margin-right: 1em
}

.section-dataTable {
    margin-top: 1em
}

#dtBtnSeeker {
    float: left;
    width: 56px;
    height: 30px;
    cursor: pointer;

    border: 1px solid #cccccc;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;

}

#dt-pageNum {
    float: left;
}

#dt-recordinfo {
    line-height: 38px;
    float: left;
    margin-left: 1em;
}

#frmMonth {
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
}

.link-showDt {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    z-index: 1000;
    padding: 6px 8px;
    cursor: pointer;

}

.chart-firmPie {
    width: 602px;
    height: 320px;
    overflow: hidden;
}




